version: '2'
services:
#  data:
#    image: creemson/data
#    volumes:
#      - ./Docker/Data:/var/lib/mysql
#  mongodb:
#    image: mongodb:latest
#    ports:
#    - "27017:27017"
  mongodb:
   image: mongo:latest
   container_name: mongo
   ports:
    - "27017:27017"
   volumes:
    - /app/hdp/mongo/data:/data/db
  web:
    image: creemson/apache_php
    ports:
      - 60000:80
    environment:
      XDEBUG_CONFIG: remote_host=172.22.0.1
      volumes_from: application
      links: mongodb
    depends_on:
      - mongodb
    volumes:
      - .:/var/www/html